<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>Wikipedia</title>
	<style>
		body{
			font-family:"游ゴシック", "Yu Gothic", YuGothic, sans-serif;
          	background: linear-gradient(-45deg, #fdcbf1, #e6dee9);
          	background-size: 200% 200%;
          	animation: GradientBackground 10s ease infinite;
        }
        
        .btn-circle-kirby {
  			display: inline-block;
 			text-decoration: none;
  			color: #f9a9ae;
  			width: 45px;
  			height: 45px;
  			line-height: 30px;
  			border-radius: 50%;
  			text-align: center;
  			overflow: hidden;
  			font-weight: bold;
  			background-image: linear-gradient(#fed6e3 0%, #ffaaaa 100%);
  			text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
		}

		.btn-circle-kirby:active {
  			background-image: linear-gradient(#fed6e3 0%, #ffcfcf 100%);
		}
		
		@keyframes GradientBackground {
          0% {
            background-position: 0% 50%;
          }

          50% {
            background-position: 100% 50%;
          }

          100% {
            background-position: 0% 50%;
          }
        };
        
	</style>
</head>
<body>
	<form action="/" method="get">
		<input type="text" name="keyword">
		<input class="btn-circle-kirby" type="submit" value="検索">
	</form>
<%=  @result %>
</body>
</html>
